*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

h1{
    font-size: 24px;
    font-weight: bolder;
}

.emoji{
    border: 2px black solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.emojis{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

a{
    background-color: blueviolet;
    color: aliceblue;
    padding: 20px 80px;
    text-decoration: none;
    border-radius: 10px;
}

p{
    padding: 10px;

}

h2{
    border-bottom: 3px grey solid;
    padding: 5px;
    width: 90%;
    font-size: 18px;
}

.icon{
    scale: 400%;
    order: -1;
    padding-top: 10px;
}

.emoji:nth-of-type(4)> span{
    margin-bottom: -15px;
}